@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Courier New', Courier, monospace;
  @apply bg-[rgb(39,_39,_39)] flex justify-center;
}

canvas {
  @apply mt-[25px] z-10 min-[1800px]:mt-[100px] max-sm:w-full max-sm:h-[700px] max-sm:mt-[50px];
}

.game-over-container {
  @apply absolute top-1/2 left-1/2 w-[500px] h-[700px] bg-[rgb(56,56,56)] -mt-1 z-[11] flex flex-col justify-center items-center text-[whitesmoke] min-[1800px]:-mt-[19px] max-sm:w-full max-sm:h-[700px];
  transform: translate(-50%, -50%);
}

button {
  @apply cursor-pointer text-black bg-[rgb(195,195,195)] h-[50px] w-[200px] rounded-md text-[20px] hover:brightness-[80%] active:scale-95 focus:outline-none;
  font-family: 'Courier New', Courier, monospace;
}
